# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local test outputs / screenshots
*.png
*.xml
*.log
.pytest_cache/
data/*.png
data/*.xml

# Editor / Workspace settings
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db
